{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div id="chat" class="chat w-100">
                {% for message in messages %}
                    {% if message.from_user == request.user %}
                        <div class="col d-flex justify-content-end">
                            <!-- <div class="message m-2 {% if message.is_read == False %} no_read {% endif %} ps-3 pt-2 pe-3 pb-2"> -->
                            <div class="message{% if message.is_read == False %} no_read {% endif %} m-2 ps-3 pt-2 pe-3 pb-2">
                                <h5 class="m-0">{{ message.from_user.first_name }} {{ message.from_user.last_name }}</h5>
                                <p class="m-0">{{ message.text }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="col d-flex justify-content-start">
                            <div class="message m-2  ps-3 pt-2 pe-3 pb-2">
                                <h5 class="m-0">{{ message.from_user.first_name }} {{ message.from_user.last_name }}</h5>
                                <p class="m-0">{{ message.text }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <form id="messageForm" class="row" onsubmit="send(event)">
                <div class="col-8 pt-2">
                    <input type="text" name="message" class="form-control" required>
                </div>

                <div class="col-4 d-flex align-items-center">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>

            </form>
        </div>
    </div>

    <script src="{% static 'dialogue/js/main.js' %}"  charset="utf-8">
    </script>


{% endblock %}