{% extends 'base.html' %}

{% block content %}
<div class="container pt-5 d-flex justify-content-around">
  <div class="col-4">
    <h2>Друзья</h2>
    <hr>
    <div class="list-group">
      {% for friend in friends %}
        {% if friend.user1 == request.user %}
        <a href="{% url 'dialogue' friend.user2.pk %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        {% else %}
          <a href="{% url 'dialogue' friend.user2.pk %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        {% endif %}
            <div class="d-flex gap-2 justify-content-between">
              <div>
                {% if friend.user1 == request.user %}
                  <h6 class="mb-0">{{ friend.user2.first_name }} {{ friend.user2.last_name }}</h6>
                {% else %}
                  <h6 class="mb-0">{{ friend.user1.first_name }} {{ friend.user1.last_name }}</h6>
                {% endif %}
              </div>
    <!--          <small class="opacity-50 text-nowrap">now</small>-->
            </div>
          </a>
      {% endfor %}
    </div>
  </div>

  <div class="list-group col-4">
    <h2>Заявки</h2>
    <hr>
    <div class="list-group">
      {% for friend_request in friend_requests %}
        {% if friend_request.from_user == request.user %}
          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        {% else %}
          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        {% endif %}
            <div class="d-flex gap-2 justify-content-between">
              <div>
                {% if friend_request.from_user == request.user %}
                  <h6 class="mb-0">{{ friend_request.to_user.first_name }} {{ friend_request.to_user.last_name }}</h6>
                  <button>Отменить</button>
                {% else %}
                  <h6 class="mb-0">{{ friend_request.from_user.first_name }} {{ friend_request.from_user.last_name }}</h6>
                  <button>Принять</button>
                {% endif %}
              </div>
    <!--          <small class="opacity-50 text-nowrap">now</small>-->
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
